@model IntegraComex.Models.Cliente
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    * {
        box-sizing: border-box;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: 100%;
        padding: 1.5em;
        margin-top: 0.5em;
    }

    .links {
        margin-top: 15px;
    }

    body {
        background-color: #f5f5f5;
        color: white;
        font-family: 'Radio Canada', sans-serif;
    }

    .logo {
        text-align: center;
        font-size: 3em;
        color: #007da4;
    }

        .logo span {
            color: #fbb03b;
        }

    .table-wrapper {
        box-shadow: 0 0 20px black;
        margin-top: 1.2em;
        display: grid;
        grid-template-columns: 1fr;
        border-radius:26px;
    }

        .table-wrapper > * {
            padding: 2em;
        }

    .customer-table {
        background-color: #999999;
    }

    .customer-form {
        background-color: #4d4d4d;
        border-radius:26px;
    }

        .customer-form form .form-item {
            margin: 0;
            padding: 1em;
        }

        .customer-form form button,
        .customer-form form input {
            width: 100%;
            border: none;
            background: none;
            border-bottom: 1px solid black;
            outline: none;
            color: white;
        }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }

    .customer-table table,
    .customer-table table a i {
        color: white;
    }

    .customer-form form .button input {
        background-color: #FFC366;
        border-bottom: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    .form-item {
        margin: 1em;
    }

    .customer-form form {
        display: grid;
        grid-template-columns: 1fr;
    }

        .customer-form form .button input:hover {
            background-color: #fbb03b;
            transition: 0.3s;
            outline: 0;
        }


</style>


<div class="content">
    <h1 class="logo"><span></span>Maneja tus <span>Clientes</span></h1>
    <div class="table-wrapper">
        <div class="customer-form">
            <h3>Editar</h3>
            <form action="/Clientes/Editar" method="post">
                <div class="form-item">
                    <label for="Id">Id</label>
                    <input type="text" name="Id" id="inputId" value="@Model.Id" required readonly />
                </div>
                <div class="form-item">
                    <label for="Cuit">Cuit</label>
                    <input type="number" name="NroCuit" id="inputcuit" value="@Model.NroCuit" required />
                </div>
                <div class="form-item">
                    <label for="RSocial">Razon Social</label>
                    <input type="text" name="RazonSocial" id="inputRSocial" value="@Model.RazonSocial" required />
                </div>
                <div class="form-item">
                    <label for="telefono" style="width: 100%;">Telefono</label>
                    <input type="tel" value="@Model.Telefono" maxlength="10" name="Telefono" placeholder="">
                </div>
                <div class="form-item">
                    <label for="direccion">Direccion</label>
                    <input type="text" name="Direccion" id="inputdireccion" value="@Model.Direccion" required />
                </div>
                <div class="form-item button">
                    <input type="submit" value="Editar" required />
                </div>
            </form>
        </div>
    </div>
</div>